html{
    position: relative;
    min-height: 100%
}

body{
    margin-bottom: 60px;
}

.panel-body{
    background-color: #fee8ff;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: purple;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    font-weight: bold;
}

.panel{
    padding: 10px;
    background-color: #fee8ff;
}

footer{
    color: purple;
    background-color:#fee8ff;
    padding: 15px;
    height: 60px;
    width: 100%;
    border-top: 10px;
    border-top-color: purple;
    border-width: 10px;
    border-top-style: solid;
    position: absolute;
    bottom: 0;
}

.text{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.text2{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.column_names{
    font-weight: bold;
}

.current{
    border: 5px;
    border-width: 5px;
    border-color: purple;
    border-style: solid;
}